<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Новый пользователь </title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
<div>
    <br>
    <br>
    <form method="post" th:action="@{/admin/newUser}" th:object="${user}">
        <label for="Имя">Введите имя </label>
        <input type="text" th:field="*{name}" id="Имя" />
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors ="*{name}">Name Exception</div>
        <br>
        <br>
        <label for="Фамилия">Введите фамилию </label>
        <input type="text" th:field="*{lastName}" id="Фамилия"/>
        <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors ="*{lastName}">lastName Exception</div>
        <br>
        <br>
        <label for="Возраст">Введите возраст </label>
        <input type="text" th:field="*{age}" id="Возраст"/>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors ="*{age}">age Exception</div>
        <br>
        <br>
        <label for="Логин">Введите логин </label>
        <input type="text" th:field="*{username}" id="Логин"/>
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors ="*{username}">username Exception</div>
        <br>
        <br>
        <label for="Пароль">Введите пароль </label>
        <input type="text" th:field="*{password}" id="Пароль"/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors ="*{password}">password Exception</div>
        <br>
        <br>
        <label for="Roles" th:each="Role:${AllRoles}">Роль:
            <input type="checkbox" id="Roles" th:field="*{roles}"
                   th:text="${Role.name}"   th:value="${Role.id}" class="m-2"/>
        </label>
        <br>
        <input type="submit" value="Создать пользователя" class="bth btn-primary"/>
        <input type="submit" value=" Cancel" class="bth btn-primary"/>
    </form>
</div>
</body>
</html>