<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Пользователи</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
          crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-mg text-light bg-dark">
  <div class="navbar-brand">
    <div class="navbar-header">
      <b><span th:text="${#authentication.getName()}"></span></b>
    </div>

    <div class="navbar-brand">
      <span> with roles:</span>
      <span th:each="role : ${#authentication.getAuthorities()}"
            th:text="${role.getAuthority().substring(5)}"></span>
    </div>

    <div class=" navbar navbar-collapse"></div>
  </div>
  <div style="float:right">
    <form th:align="right" name="form1" method="post" th:href="@{/logout}">
      <a class="btn text-muted" th:href="@{/logout}">Logout</a>
    </form>
  </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <br>
      <ul class="nav flex-column nav-pills">

        <li class="nav-item ">
          <a class="nav-link active"  href="/user_info">User</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-9 bg-light">
      <div class="page-header">
        <br>
        <h2>User information page</h2>
      </div>
      <div class="tabbable ">
        <ul class="nav nav-tabs ">
          <li class="nav-item">
            <a  class="nav-link active" data-toggle="tab">User table</a>
          </li>
        </ul>

        <div class=" bordered-tab-contents">
          <div class="tab-pane border border-top-0 active" >

            <div class="table-header">
              <h4> About user</h4>
            </div>

            <div class="tab-body">
              <table class="table table-striped ">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Age</th>
                  <th>Email</th>
                  <th>Role</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                  <td th:text="${user.getId()}"></td>
                  <td th:text="${user.getName()}"></td>
                  <td th:text="${user.getLastName()}"></td>
                  <td th:text="${user.getAge()}"></td>
                  <td th:text="${user.getEmail()}"></td>
                  <td><a th:each="role:${user.getRoles()}"
                         th:text="${role.getName().substring(5)+' '}"></a></td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>