<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <title> Обновление данных </title>
</head>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
<body>
<div>
    <br>
    <br>
    <form method="post" th:action="@{/admin/updateUser/{id}(id=${user.id})}" th:object="${user}">
        <label for="Имя">Введите имя </label>
        <input type="text" th:field="*{name}" id="Имя"/>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors ="*{name}">Name Exception</div>
        <br>
        <br>
        <label for="Фамилия">Введите фамилию </label>
        <input type="text" th:field="*{lastName}" id="Фамилия"/>
        <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors ="*{lastName}">lastName Exception</div>
        <br>
        <br>
        <label for="Возраст">Введите возраст </label>
        <input type="text" th:field="*{age}" id="Возраст"/>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors ="*{age}">age Exception</div>
        <br>
        <br>
        <label for="Логин">Введите логин </label>
        <input type="text" th:field="*{username}" id="Логин"/>
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors ="*{username}">Login Exception</div>
        <br>
        <br>
        <label for="Пароль">Введите пароль </label>
        <input type="text" th:field="*{password}" id="Пароль"/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors ="*{password}">password Exception</div>
        <br>
        <br>
        <label for="Roles" th:each="role:${AllRoles}">
            <input type="checkbox" id="Roles" th:field="*{roles}"
                   th:text="${role.name}"  th:value="${role.id}" class="m-2"/>
        </label>
        <input type="submit" value="обновить">
    </form>
</div>
<br>

</body>
</html>
